body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
}
.Brand img{
    height: 35px;
    margin-right: 10px;
}
ul,li{
    display: flex;
    padding: 0px 12px;
    align-items: center;
}
.container{
    width: 60vw;
    height: auto;
    display: flex;
    padding: 34px;
    margin: 34px auto;
    background-color: black;
    color: black;
    border-radius: 25px;
    background-image: url(bg.jpg);
    background-size: cover;
}
.bottom{
    position: sticky;
    bottom: 0px;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    margin: 10px;
    cursor: pointer;
}
#controlbar{
    width: 80vw;
}
.songItemList{
    display: flex;
    width: 40vw;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}
h2{
    font-size: xx-large;
}
.songItemList img{
    width: 38px;
    height: 38px;
    margin-right: 20px;
    border-radius: 18px;

}
.songItemList div{
    padding: 5px;
    display: flex;
    align-items: center;
}