nav{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
}
.Brand img{
    height: 35px;
    margin-right: 10px;
}
ul,li{
    display: flex;
    padding: 0px 12px;
    align-items: center;
}